body{
    background-color:rgb(188, 215, 206);

}

.main{
    background-color: rgb(255, 255, 255);
    color:black;
    height:auto;
    width: 30%;
    min-width: 6cm;
    border: 2px solid rgb(101, 210, 101);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.main h1{
   display:block;
   background-color: rgb(75, 75, 231);
   color:white;
  border-bottom:3px solid yellow;
  
  
   border-width: 3px;
   text-align: center;
   font-size:xx-large;
   margin: 0px;
   padding:10px;


}

.main .form{
    margin:10%;

}

input{
    margin:10px;
    height:30px;
    width:80%;
    min-width:auto;

}

.form input[value="sign in"]{
    display: block;
    color:white;
    background-color: rgb(75, 75, 231);
    margin:auto;
    margin-top:1cm;
    width:2cm;
    padding:3px 5px;
    border-style:hidden;
    border-radius: 5px;
    
}

.form input[value="sign in"]:hover{
    background-color: rgb(59, 59, 181);
    border:2px solid black;
}


a[href="log_in.css"]{
    display:block;
    margin:auto;
}
